.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e5383b; /* Cambiar al color de fondo que prefieras */
}

header {
    background-color: #ba181b; /* Cambiar al color de la barra de navegación que prefieras */
    padding: 10px;
    color: white;
}

main {
    padding: 20px;
    background-color: white;
}

section.container {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 90%;
}

/* Agregar otros estilos según sea necesario */

.boton {
    text-align: center;
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff; /* Color del botón principal */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambiar al color que prefieras */
    border-color: #0056b3;
}


aside {
    float: right; /* O 'left' según prefieras */
    width: 30%; /* Ajusta el ancho según tu diseño */
    margin-left: 20px; /* Ajusta el margen según tu diseño */
}

main {
    display: flex;
    justify-content: space-between;
}

section.container {
    flex: 1;
    /* Otros estilos según sea necesario */
}

aside {
    width: 30%; /* Ajusta el ancho según tu diseño */
    margin-left: 20px; /* Ajusta el margen según tu diseño */
}

.navbar img {
    height: 50px; /* Ajusta la altura según tu preferencia */
    width: auto; /* Establece el ancho automático para mantener la proporción */
    margin-right: 10px; /* Ajusta el margen entre las imágenes según tu preferencia */    
}

/* Estilo para centrar el h2 */
h2 {
    text-align:center;
    background-color: #669bbc;
}

/* Estilo para centrar el formulario */
.form-container {
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Esto centrará el formulario horizontalmente en la página */
}

/*.navbar{
    border: 3px solid white;
}*/

/*.nav-item{
    border: 3px solid #660708;
}*/